body {
    background-image: url(./images/bcg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(245, 245, 245);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div1 {
    width: 100%;
    min-height: 150px;
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 9999;
    width: 100%;
    border: 1px solid transparent;
    background-color: rgba(57, 62, 70, 0.3);
    padding: 0px;
}

.header img {
    width: 8%;
    border: 1px solid transparent;
    border-radius: 50%;
    min-width: 80px;
    margin: 5px 20px;
    /* vertical-align:middle; */
}

.header a {
    float: right;
    margin-top: 35px;
    margin-right: 35px;
    text-decoration: none;
    color: rgb(245, 245, 245);
    border: 1px solid rgb(82, 89, 102);
    background-color: rgb(82, 89, 102);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;

}

.div3 {
    margin-left: 100px;
}

.div3 p {
    text-indent: 30px;
    text-align: justify;
}

.div3 h1 {
    text-align: center;
}

.sq {
    width: 40%;
    min-width: 400px;
    border: 3px solid rgb(10, 10, 70);
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(10, 10, 70, 0.1);
    margin-bottom: 5%;
    display: inline-block;
    margin-right:80px
}
#sq2{
    width: 40%;

}